body {
    font-family: "メイリオ";
    background-color: #efe;
    font-size: 15px;
}

header {
    background-image: url("background.gif");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 100px;
}

#logo {
    padding: 20px 0;
    text-align: center;
}

#logo img {
    max-width: 120px;
    border: 5px solid #fff;
    border-radius: 90%;
}

#logo h1 {
    letter-spacing: 0.25em;
    color: #06f;
    text-shadow: 2px 2px 0px #000;
}

.container {
    max-width:800px;
    margin: -100px auto 0;
    background-color: #fff;
}

section h2 {
    padding: 10px 0 10px 0;
    text-align: center;
    letter-spacing: 0.25em;
}

footer {
    padding: 30px 0;
    font-size: 80%;
    text-align: center;
    background-color: #ddd;
    color: #66f;
}

span.blue {
    color: blue;
    font-weight: bold;
}

span.red {
    color: red;
    font-weight: bold;
    
}






